.awv-list {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }
  .awv-list:after {
    content: '';
    display: table;
    clear: both; }
  .awv-list.two-columns li {
    width: 50%;
    float: left;
    display: block;
    margin-left: 0;
    margin-right: 0; }
  .awv-list.three-columns li {
    width: 33.33334%;
    float: left;
    display: block;
    margin-left: 0;
    margin-right: 0; }
  .awv-list.four-columns li {
    width: 25%;
    float: left;
    display: block;
    margin-left: 0;
    margin-right: 0; }

.awv-box {
  width: 100%;
  float: none;
  clear: both; }

@media (max-width: 991px) {
  .awv-list.four-columns li {
    width: 33.33334%; } }

@media (max-width: 768px) {
  .awv-list.three-columns li, .awv-list.four-columns li {
    width: 50%; } }

@media (max-width: 480px) {
  .afl-list.two-columns li, .afl-list.three-columns li, .afl-list.four-columns li {
    width: 100%;
    float: none;
    clear: both; } }
